body {
  margin: 0;
  padding: 0;
  color: #000000; }

p, ul, li, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

.no-padding {
  padding: 0; }

header {
  padding: 20px 0; }
  @media only screen and (max-width: 767px) {
    header {
      padding: 10px 0; } }
  header nav.navbar {
    min-height: auto;
    margin-bottom: 0; }
  header nav .logo {
    float: left; }
    @media only screen and (max-width: 991px) {
      header nav .logo img {
        width: 100px;
        margin-top: 6px; } }
    @media only screen and (max-width: 767px) {
      header nav .logo img {
        margin-top: 13px; } }
  header nav .nav {
    float: right;
    padding-top: 5px; }
    @media only screen and (max-width: 767px) {
      header nav .nav {
        width: 100%; } }
    header nav .nav li {
      padding: 0; }
      @media only screen and (max-width: 767px) {
        header nav .nav li {
          float: none;
          text-align: center; } }
      header nav .nav li a {
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        color: #5f45a4;
        padding: 9px 25px; }
        @media only screen and (max-width: 1400px) {
          header nav .nav li a {
            padding: 7px 25px; } }
        @media only screen and (max-width: 1199px) {
          header nav .nav li a {
            padding: 6px 12px; } }
        header nav .nav li a.btn {
          margin-left: 25px; }
          @media only screen and (max-width: 1199px) {
            header nav .nav li a.btn {
              margin-left: 15px; } }
          @media only screen and (max-width: 767px) {
            header nav .nav li a.btn {
              width: 100px;
              margin: 0 auto 15px; } }
      @media only screen and (max-width: 767px) {
        header nav .nav li.sing-up {
          margin-top: 20px; } }
      @media only screen and (max-width: 480px) {
        header nav .nav li.sing-up {
          float: none;
          margin-bottom: 10px; } }
      header nav .nav li.sing-up .btn {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        background: #5f45a4;
        color: #ffffff;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        border: 1px solid #5f45a4; }
        header nav .nav li.sing-up .btn:hover {
          border: 1px solid #5f45a4;
          background: transparent;
          color: #5f45a4;
          text-decoration: none; }
        header nav .nav li.sing-up .btn:focus {
          border: 1px solid #5f45a4;
          background: transparent;
          color: #5f45a4;
          text-decoration: none; }
        header nav .nav li.sing-up .btn:active {
          border: 1px solid #5f45a4;
          background: transparent;
          color: #5f45a4;
          text-decoration: none; }
      @media only screen and (max-width: 767px) {
        header nav .nav li.sing-in {
          margin-top: 20px; } }
      @media only screen and (max-width: 480px) {
        header nav .nav li.sing-in {
          float: none;
          margin-bottom: 10px; } }
      header nav .nav li.sing-in .btn {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border: 1px solid #5f45a4;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s; }
        header nav .nav li.sing-in .btn:hover {
          border: 1px solid #5f45a4;
          background: #5f45a4;
          color: #ffffff;
          text-decoration: none; }
        header nav .nav li.sing-in .btn:focus {
          border: 1px solid #5f45a4;
          background: #5f45a4;
          color: #ffffff;
          text-decoration: none; }
        header nav .nav li.sing-in .btn:active {
          border: 1px solid #5f45a4;
          background: #5f45a4;
          color: #ffffff;
          text-decoration: none; }
      header nav .nav li.lang {
        margin-left: 25px; }
        @media only screen and (max-width: 1199px) {
          header nav .nav li.lang {
            margin-left: 15px; } }
        @media only screen and (max-width: 767px) {
          header nav .nav li.lang {
            width: 100px;
            margin-top: 20px;
            margin: auto; } }
        @media only screen and (max-width: 480px) {
          header nav .nav li.lang {
            float: none;
            margin-bottom: 10px; } }
        header nav .nav li.lang label {
          overflow: hidden;
          height: 40px;
          position: relative;
          display: block;
          border: 2px solid #f0f1f4;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          border-bottom-left-radius: 50px;
          border-bottom-right-radius: 50px; }
          @media only screen and (max-width: 1400px) {
            header nav .nav li.lang label {
              height: 36px; } }
          @media only screen and (max-width: 1199px) {
            header nav .nav li.lang label {
              height: 34px; } }
          header nav .nav li.lang label .dropdown {
            padding: 9px 46px 9px 30px;
            border: 0;
            font-size: 14px;
            font-family: "Raleway", sans-serif;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #ffffff;
            color: #5f45a4;
            outline: none; }
            @media only screen and (max-width: 1400px) {
              header nav .nav li.lang label .dropdown {
                padding: 7px 46px 9px 30px; } }
            @media only screen and (max-width: 1199px) {
              header nav .nav li.lang label .dropdown {
                padding: 5px 30px 5px 18px; } }
            header nav .nav li.lang label .dropdown:after {
              outline: none; }
            header nav .nav li.lang label .dropdown:active {
              outline: none; }
          header nav .nav li.lang label:after {
            font-size: 20px;
            content: "\f107 ";
            font-family: FontAwesome;
            color: #000;
            position: absolute;
            right: 20px;
            top: 4px;
            z-index: 1;
            pointer-events: none; }
            @media only screen and (max-width: 1199px) {
              header nav .nav li.lang label:after {
                right: 8px;
                top: 2px; } }
    @media only screen and (max-width: 767px) {
      header nav .nav span {
        float: left;
        width: 100%;
        margin-top: 20px; } }
    @media only screen and (max-width: 767px) {
      header nav .nav span li {
        display: flex; } }
  header nav .navbar-toggle {
    border: 2px solid #5f45a4; }
    header nav .navbar-toggle .icon-bar {
      background: #5f45a4; }

footer {
  background: #404041;
  padding: 50px 0;
  float: left;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    footer div {
      margin-bottom: 20px; } }
  @media only screen and (max-width: 480px) {
    footer div {
      width: 100%; } }
  footer h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 15px; }
  footer ul {
    list-style: none; }
    footer ul li {
      padding-bottom: 10px; }
      footer ul li a {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #ffffff; }
        footer ul li a:hover {
          color: #e46400;
          text-decoration: none; }

.banner-section .home-banner {
  background: url("../img/banner.jpg") center no-repeat;
  height: 680px;
  width: 100%;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 1400px) {
    .banner-section .home-banner {
      height: 500px; } }
  @media only screen and (max-width: 480px) {
    .banner-section .home-banner {
      height: 400px; } }
  .banner-section .home-banner .container {
    position: relative;
    height: 100%; }
    .banner-section .home-banner .container .banner-title {
      position: absolute;
      top: 40%;
      width: 100%;
      left: 0; }
      @media only screen and (max-width: 1400px) {
        .banner-section .home-banner .container .banner-title {
          top: 37%; } }
      @media only screen and (max-width: 480px) {
        .banner-section .home-banner .container .banner-title {
          top: 32%; } }
      .banner-section .home-banner .container .banner-title h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        color: #ffffff;
        text-align: center; }
        @media only screen and (max-width: 1199px) {
          .banner-section .home-banner .container .banner-title h1 {
            font-size: 34px; } }
        @media only screen and (max-width: 991px) {
          .banner-section .home-banner .container .banner-title h1 {
            font-size: 30px; } }
        @media only screen and (max-width: 767px) {
          .banner-section .home-banner .container .banner-title h1 {
            font-size: 24px;
            padding: 0 20px; } }
        @media only screen and (max-width: 480px) {
          .banner-section .home-banner .container .banner-title h1 {
            font-size: 20px; } }
      .banner-section .home-banner .container .banner-title a {
        background: #e46400;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border: 2px solid #e46400;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        color: #ffffff;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        width: 300px;
        padding: 15px 0;
        margin: 35px auto 0;
        display: block;
        font-size: 28px;
        text-align: center; }
        .banner-section .home-banner .container .banner-title a:hover {
          border: 2px solid #e46400;
          background: #ffffff;
          color: #e46400;
          text-decoration: none; }
        .banner-section .home-banner .container .banner-title a:focus {
          border: 2px solid #e46400;
          background: #ffffff;
          color: #e46400;
          text-decoration: none; }
        .banner-section .home-banner .container .banner-title a:active {
          border: 2px solid #e46400;
          background: #ffffff;
          color: #e46400;
          text-decoration: none; }
        @media only screen and (max-width: 1400px) {
          .banner-section .home-banner .container .banner-title a {
            padding: 10px 0;
            font-size: 24px; } }
        @media only screen and (max-width: 1199px) {
          .banner-section .home-banner .container .banner-title a {
            width: 250px;
            font-size: 20px; } }
        @media only screen and (max-width: 480px) {
          .banner-section .home-banner .container .banner-title a {
            width: 200px;
            font-size: 18px; } }
        .banner-section .home-banner .container .banner-title a:hover {
          text-decoration: none; }

.home-section-one {
  padding: 0; }
  .home-section-one h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #000000;
    padding: 100px 95px 90px;
    margin: 0;
    text-align: center;
    font-weight: 700; }
    @media only screen and (max-width: 991px) {
      .home-section-one h2 {
        font-size: 28px;
        padding: 60px; } }
    @media only screen and (max-width: 480px) {
      .home-section-one h2 {
        padding: 40px 20px;
        font-size: 24px; } }
  .home-section-one div {
    float: left;
    height: 400px;
    margin-bottom: 50px;
    text-align: center;
    color: #ffffff; }
    @media only screen and (max-width: 480px) {
      .home-section-one div {
        margin-bottom: 30px; } }
    .home-section-one div .img-box {
      position: relative;
      height: 170px;
      width: 100%;
      margin-bottom: 30px; }
      @media only screen and (max-width: 991px) {
        .home-section-one div .img-box {
          height: 110px; } }
      .home-section-one div .img-box img {
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0; }
        @media only screen and (max-width: 1199px) {
          .home-section-one div .img-box img {
            width: 130px; } }
        @media only screen and (max-width: 991px) {
          .home-section-one div .img-box img {
            width: 100px; } }
    .home-section-one div h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px; }
      @media only screen and (max-width: 991px) {
        .home-section-one div h3 {
          padding: 0 20px; } }
    .home-section-one div p {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      padding: 0 60px;
      line-height: 28px; }
      @media only screen and (max-width: 991px) {
        .home-section-one div p {
          padding: 0 20px;
          line-height: 24px; } }
    .home-section-one div.athlete {
      background: #ffa047;
      margin-right: 10px; }
      @media only screen and (max-width: 480px) {
        .home-section-one div.athlete {
          margin-right: 0; } }
    .home-section-one div.team {
      background: #c30145;
      margin-left: 10px; }
      @media only screen and (max-width: 480px) {
        .home-section-one div.team {
          margin-left: 0; } }
    .home-section-one div.time {
      background: #5f45a4;
      margin-right: 10px; }
      @media only screen and (max-width: 480px) {
        .home-section-one div.time {
          margin-right: 0; } }
      .home-section-one div.time .img-box {
        height: 190px; }
        @media only screen and (max-width: 480px) {
          .home-section-one div.time .img-box {
            height: 140px; } }
        .home-section-one div.time .img-box img {
          bottom: 0; }
          @media only screen and (max-width: 1199px) {
            .home-section-one div.time .img-box img {
              width: 120px; } }
          @media only screen and (max-width: 991px) {
            .home-section-one div.time .img-box img {
              width: 100px; } }
    .home-section-one div.communication {
      background: #009d84;
      margin-left: 10px; }
      @media only screen and (max-width: 480px) {
        .home-section-one div.communication {
          margin-left: 0; } }
      .home-section-one div.communication .img-box {
        height: 190px; }
        @media only screen and (max-width: 480px) {
          .home-section-one div.communication .img-box {
            height: 140px; } }
        .home-section-one div.communication .img-box img {
          bottom: 20px; }

.home-section-tow {
  background: #f0f1f4;
  float: left;
  width: 100%;
  padding: 90px 0; }
  @media only screen and (max-width: 991px) {
    .home-section-tow {
      padding: 60px 0; } }
  .home-section-tow h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #000000;
    margin: 0;
    text-align: left;
    font-weight: 700;
    margin-bottom: -20px;
    position: relative;
    z-index: 9; }
    @media only screen and (max-width: 991px) {
      .home-section-tow h2 {
        margin-bottom: 40px; } }
  .home-section-tow .testimonials {
    float: left;
    width: 100%;
    overflow: hidden; }
    .home-section-tow .testimonials .swiper-wrapper .swiper-slide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .home-section-tow .testimonials .swiper-wrapper .swiper-slide .slider-content {
        float: left;
        padding-right: 100px; }
        @media only screen and (max-width: 767px) {
          .home-section-tow .testimonials .swiper-wrapper .swiper-slide .slider-content {
            padding-right: 30px; } }
        .home-section-tow .testimonials .swiper-wrapper .swiper-slide .slider-content p {
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          text-align: left;
          margin-bottom: 20px;
          line-height: 28px; }
        .home-section-tow .testimonials .swiper-wrapper .swiper-slide .slider-content span {
          font-family: "Open Sans", sans-serif;
          font-weight: 500;
          font-style: italic;
          font-size: 14px;
          float: right; }
      .home-section-tow .testimonials .swiper-wrapper .swiper-slide img {
        width: 400px;
        height: auto;
        float: right;
        border: 8px solid #ffffff; }
        @media only screen and (max-width: 1400px) {
          .home-section-tow .testimonials .swiper-wrapper .swiper-slide img {
            width: 340px; } }
        @media only screen and (max-width: 991px) {
          .home-section-tow .testimonials .swiper-wrapper .swiper-slide img {
            width: 200px; } }
        @media only screen and (max-width: 767px) {
          .home-section-tow .testimonials .swiper-wrapper .swiper-slide img {
            width: 100px;
            position: relative;
            top: -36px; } }
        @media only screen and (max-width: 480px) {
          .home-section-tow .testimonials .swiper-wrapper .swiper-slide img {
            display: none; } }
  .home-section-tow .swiper-pagination-bullet {
    border: 2px solid #ffa047;
    width: 12px;
    height: 12px;
    background: transparent;
    opacity: 1; }
  .home-section-tow .swiper-pagination-bullet-active {
    background: #ffa047;
    width: 12px;
    height: 12px; }

.home-section-three {
  text-align: center;
  color: #000000;
  padding: 90px 0 0;
  margin-bottom: 90px;
  float: left;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .home-section-three {
      margin-bottom: 0px; } }
  @media only screen and (max-width: 767px) {
    .home-section-three div {
      margin-bottom: 50px; } }
  .home-section-three .img-box {
    width: 100%;
    height: 110px;
    position: relative;
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .home-section-three .img-box {
        height: auto; } }
    .home-section-three .img-box img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
      @media only screen and (max-width: 1199px) {
        .home-section-three .img-box img {
          width: 100px; } }
      @media only screen and (max-width: 991px) {
        .home-section-three .img-box img {
          width: 90px; } }
      @media only screen and (max-width: 767px) {
        .home-section-three .img-box img {
          position: relative;
          display: block; } }
  .home-section-three h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 40px 0 25px; }
  .home-section-three p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 0 40px; }
    @media only screen and (max-width: 1199px) {
      .home-section-three p {
        padding: 0 20px; } }
    @media only screen and (max-width: 991px) {
      .home-section-three p {
        padding: 0; } }
    @media only screen and (max-width: 767px) {
      .home-section-three p {
        padding: 0 25%; } }
    @media only screen and (max-width: 480px) {
      .home-section-three p {
        padding: 0 20px; } }
  .home-section-three a {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #e46400;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid #e46400;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    padding: 18px 0;
    margin: auto;
    display: table;
    width: 50%;
    float: none;
    top: 80px; }
    .home-section-three a:hover {
      border: 2px solid #e46400;
      background: #ffffff;
      color: #e46400;
      text-decoration: none; }
    .home-section-three a:focus {
      border: 2px solid #e46400;
      background: #ffffff;
      color: #e46400;
      text-decoration: none; }
    .home-section-three a:active {
      border: 2px solid #e46400;
      background: #ffffff;
      color: #e46400;
      text-decoration: none; }
    @media only screen and (max-width: 1400px) {
      .home-section-three a {
        padding: 10px 0;
        font-size: 26px; } }
    @media only screen and (max-width: 1199px) {
      .home-section-three a {
        padding: 10px 0;
        font-size: 24px; } }
    @media only screen and (max-width: 767px) {
      .home-section-three a {
        font-size: 18px;
        top: 0; } }

.home-section-four {
  width: 100%;
  height: 380px;
  float: left;
  background: url("../img/content-banner.jpg") center no-repeat;
  background-size: cover;
  margin-top: 90px; }
  @media only screen and (max-width: 767px) {
    .home-section-four {
      margin-top: 0; } }
  .home-section-four .content {
    padding-top: 7%; }
    @media only screen and (max-width: 1199px) {
      .home-section-four .content {
        padding-top: 10%; } }
    @media only screen and (max-width: 991px) {
      .home-section-four .content {
        padding-top: 12%; } }
    .home-section-four .content h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 34px;
      color: #ffffff;
      text-align: center;
      padding: 0 70px; }
      @media only screen and (max-width: 991px) {
        .home-section-four .content h3 {
          font-size: 30px; } }
      @media only screen and (max-width: 767px) {
        .home-section-four .content h3 {
          font-size: 24px;
          padding: 0 50px; } }
      @media only screen and (max-width: 480px) {
        .home-section-four .content h3 {
          padding: 0 20px; } }
    .home-section-four .content .email-box {
      margin: auto;
      display: block;
      float: none;
      margin-top: 50px; }
      @media only screen and (max-width: 480px) {
        .home-section-four .content .email-box {
          width: 90%; } }
      .home-section-four .content .email-box input {
        width: 80%;
        height: 70px;
        border: none;
        padding: 0;
        margin: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        float: left;
        color: #000000;
        font-size: 24px;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        padding-left: 30px; }
        @media only screen and (max-width: 1400px) {
          .home-section-four .content .email-box input {
            height: 55px;
            font-size: 20px; } }
        @media only screen and (max-width: 767px) {
          .home-section-four .content .email-box input {
            height: 40px;
            font-size: 18px; } }
        @media only screen and (max-width: 480px) {
          .home-section-four .content .email-box input {
            font-size: 14px;
            width: 70%; } }
        .home-section-four .content .email-box input ::-webkit-input-placeholder {
          color: #cacaca;
          font-weight: 200; }
        .home-section-four .content .email-box input ::-moz-placeholder {
          color: #cacaca;
          font-weight: 200; }
        .home-section-four .content .email-box input :-ms-input-placeholder {
          color: #cacaca;
          font-weight: 200; }
        .home-section-four .content .email-box input :-moz-placeholder {
          color: #cacaca;
          font-weight: 200; }
        .home-section-four .content .email-box input:focus {
          outline: none; }
        .home-section-four .content .email-box input:active {
          outline: none; }
      .home-section-four .content .email-box button {
        height: 70px;
        width: 20%;
        background: transparent;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 2px solid #ffffff;
        font-family: "Raleway", sans-serif;
        font-size: 24px;
        font-weight: 300;
        color: #ffffff; }
        @media only screen and (max-width: 1400px) {
          .home-section-four .content .email-box button {
            height: 55px;
            font-size: 20px; } }
        @media only screen and (max-width: 767px) {
          .home-section-four .content .email-box button {
            height: 40px;
            font-size: 18px; } }
        @media only screen and (max-width: 480px) {
          .home-section-four .content .email-box button {
            font-size: 14px;
            width: 30%; } }
        .home-section-four .content .email-box button:focus {
          outline: none; }
        .home-section-four .content .email-box button:active {
          outline: none; }

/*# sourceMappingURL=style.css.map */
