.banner-section {
  .home-banner {
    background: url("../img/banner.jpg") center no-repeat;
    height: 680px;
    width: 100%;
    background-size: cover;
    position: relative;
    @media #{$max1400} {
      height: 500px;
    }
    @media #{$max480} {
      height: 400px;
    }
    .container {
      position: relative;
      height: 100%;
      .banner-title {
        position: absolute;
        top: 40%;
        width: 100%;
        left: 0;
        @media #{$max1400} {
          top: 37%;
        }
        @media #{$max480} {
          top: 32%;
        }
        h1 {
          font-family: $montserrat;
          font-size: 40px;
          color: $white;
          text-align: center;
          @media #{$max1199} {
            font-size: 34px;
          }
          @media #{$max991} {
            font-size: 30px;
          }
          @media #{$max767} {
            font-size: 24px;
            padding: 0 20px;
          }
          @media #{$max480} {
            font-size: 20px;
          }
        }
        a {
          @include btn-orange;
          font-family: $raleway;
          font-weight: 500;
          width: 300px;
          padding: 15px 0;
          margin: 35px auto 0;
          display: block;
          font-size: 28px;
          text-align: center;
          @media #{$max1400} {
            padding: 10px 0;
            font-size: 24px;
          }
          @media #{$max1199} {
            width: 250px;
            font-size: 20px;
          }
          @media #{$max480} {
            width: 200px;
            font-size: 18px;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.home-section-one {
  padding: 0;
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #000000;
    padding: 100px 95px 90px;
    margin: 0;
    text-align: center;
    font-weight: 700;
    @media #{$max991} {
      font-size: 28px;
      padding: 60px;
    }
    @media #{$max480} {
      padding: 40px 20px;
      font-size: 24px;
    }
  }
  div {
    float: left;
    height: 400px;
    margin-bottom: 50px;
    text-align: center;
    color: $white;
    @media #{$max480} {
      margin-bottom: 30px;
    }
    .img-box {
      position: relative;
      height: 170px;
      width: 100%;
      margin-bottom: 30px;
      @media #{$max991} {
        height: 110px;
      }
      img {
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        @media #{$max1199} {
          width: 130px;
        }
        @media #{$max991} {
          width: 100px;
        }
      }
    }
    h3 {
      font-family: $montserrat;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
      @media #{$max991} {
        padding: 0 20px;
      }
    }
    p {
      font-family: $opensans;
      font-size: 14px;
      padding: 0 60px;
      line-height: 28px;
      @media #{$max991} {
        padding: 0 20px;
        line-height: 24px;
      }
    }
    &.athlete {
      background: $orange_light;
      margin-right: 10px;
      @media #{$max480} {
        margin-right: 0;
      }
    }
    &.team {
      background: $red;
      margin-left: 10px;
      @media #{$max480} {
        margin-left: 0;
      }
    }
    &.time {
      background: $purple;
      margin-right: 10px;
      @media #{$max480} {
        margin-right: 0;
      }
      .img-box {
        height: 190px;
        @media #{$max480} {
          height: 140px;
        }
        img {
          bottom: 0;
          @media #{$max1199} {
            width: 120px;
          }
          @media #{$max991} {
            width: 100px;
          }
        }
      }
    }
    &.communication {
      background: $green;
      margin-left: 10px;
      @media #{$max480} {
        margin-left: 0;
      }
      .img-box {
        height: 190px;
        @media #{$max480} {
          height: 140px;
        }
        img {
          bottom: 20px;
        }
      }
    }
  }
}
.home-section-tow {
  background: $gray;
  float: left;
  width: 100%;
  padding: 90px 0;
  @media #{$max991} {
    padding: 60px 0;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #000000;
    margin: 0;
    text-align: left;
    font-weight: 700;
    margin-bottom: -20px;
    position: relative;
    z-index: 9;
    @media #{$max991} {
      margin-bottom: 40px;
    }
  }
  .testimonials {
    float: left;
    width: 100%;
    overflow: hidden;
    .swiper-wrapper {
      .swiper-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        .slider-content {
          float: left;
          padding-right: 100px;
          @media #{$max767} {
            padding-right: 30px;
          }
          p {
            font-family: $opensans;
            font-size: 14px;
            text-align: left;
            margin-bottom: 20px;
            line-height: 28px;
          }
          span {
            font-family: $opensans;
            font-weight: 500;
            font-style: italic;
            font-size: 14px;
            float: right;
          }
        }
        img {
          width: 400px;
          height: auto;
          float: right;
          border: 8px solid $white;
          @media #{$max1400} {
            width: 340px;
          }
          @media #{$max991} {
            width: 200px;
          }
          @media #{$max767} {
            width: 100px;
            position: relative;
            top: -36px;
          }
          @media #{$max480} {
            display: none;
          }
        }
      }
    }
  }
  .swiper-pagination-bullet {
    border: 2px solid $orange_light;
    width: 12px;
    height: 12px;
    background: transparent;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: $orange_light;
    width: 12px;
    height: 12px;
  }
}
.home-section-three {
  text-align: center;
  color: $black;
  padding: 90px 0 0;
  margin-bottom: 90px;
  float: left;
  width: 100%;
  @media #{$max767} {
    margin-bottom: 0px;
  }
  div {
    @media #{$max767} {
      margin-bottom: 50px;
    }
  }
  .img-box {
    width: 100%;
    height: 110px;
    position: relative;
    margin-bottom: 0;
    @media #{$max767} {
      height: auto;
    }
    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      @media #{$max1199} {
        width: 100px;
      }
      @media #{$max991} {
        width: 90px;
      }
      @media #{$max767} {
        position: relative;
        display: block;
      }
    }
  }
  h3 {
    font-family: $montserrat;
    font-size: 24px;
    font-weight: 700;
    padding: 40px 0 25px;
  }
  p {
    font-family: $opensans;
    font-size: 14px;
    padding: 0 40px;
    @media #{$max1199} {
      padding: 0 20px;
    }
    @media #{$max991} {
      padding: 0;
    }
    @media #{$max767} {
      padding: 0 25%;
    }
    @media #{$max480} {
      padding: 0 20px;
    }
  }
  a {
    @include btn-radius;
    @include btn-orange;
    font-family: $raleway;
    font-size: 28px;
    font-weight: 500;
    color: $white;
    text-align: center;
    padding: 18px 0;
    margin: auto;
    display: table;
    width: 50%;
    float: none;
    top: 80px;
    @media #{$max1400} {
      padding: 10px 0;
      font-size: 26px;
    }
    @media #{$max1199} {
      padding: 10px 0;
      font-size: 24px;
    }
    @media #{$max767} {
      font-size: 18px;
      top: 0;
    }
  }
}
.home-section-four {
  width: 100%;
  height: 380px;
  float: left;
  background: url("../img/content-banner.jpg") center no-repeat;
  background-size: cover;
  margin-top: 90px;
  @media #{$max767} {
    margin-top: 0;
  }
  .content {
    padding-top: 7%;
    @media #{$max1199} {
      padding-top: 10%;
    }
    @media #{$max991} {
      padding-top: 12%;
    }
    h3 {
      font-family: $montserrat;
      font-size: 34px;
      color: $white;
      text-align: center;
      padding: 0 70px;
      @media #{$max991} {
        font-size: 30px;
      }
      @media #{$max767} {
        font-size: 24px;
        padding: 0 50px;
      }
      @media #{$max480} {
        padding: 0 20px;
      }
    }
    .email-box {
      margin: auto;
      display: block;
      float: none;
      margin-top: 50px;
      @media #{$max480} {
        width: 90%;
      }
      input {
        width: 80%;
        height: 70px;
        border: none;
        padding: 0;
        margin: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        float: left;
        color: $black;
        font-size: 24px;
        font-family: $raleway;
        font-weight: 300;
        padding-left: 30px;
        @media #{$max1400} {
          height: 55px;
          font-size: 20px;
        }
        @media #{$max767} {
          height: 40px;
          font-size: 18px;
        }
        @media #{$max480} {
          font-size: 14px;
          width: 70%;
        }
        ::-webkit-input-placeholder {
          color: #cacaca;
          font-weight: 200;
        }
        ::-moz-placeholder {
          color: #cacaca;
          font-weight: 200;
        }
        :-ms-input-placeholder {
          color: #cacaca;
          font-weight: 200;
        }
        :-moz-placeholder {
          color: #cacaca;
          font-weight: 200;
        }
        &:focus {
          outline: none;
        }
        &:active {
          outline: none;
        }
      }
      button {
        height: 70px;
        width: 20%;
        background: transparent;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 2px solid $white;
        font-family: $raleway;
        font-size: 24px;
        font-weight: 300;
        color: $white;
        @media #{$max1400} {
          height: 55px;
          font-size: 20px;
        }
        @media #{$max767} {
          height: 40px;
          font-size: 18px;
        }
        @media #{$max480} {
          font-size: 14px;
          width: 30%;
        }
        &:focus {
          outline: none;
        }
        &:active {
          outline: none;
        }
      }
    }
  }
}