footer {
  background: #404041;
  padding: 50px 0;
  float: left;
  width: 100%;
  div {
    @media #{$max767} {
      margin-bottom: 20px;
    }
    @media #{$max480} {
      width: 100%;
    }
  }
  h4 {
    font-family: $opensans;
    font-size: 14px;
    color: $white;
    font-weight: 700;
    padding-bottom: 15px;
  }
  ul {
    list-style: none;
    li {
      padding-bottom: 10px;
      a {
        font-family: $opensans;
        font-size: 14px;
        color: $white;
        &:hover {
          color: $orange;
          text-decoration: none;
        }
      }
    }
  }
}