header {
  padding: 20px 0;
  @media #{$max767} {
    padding: 10px 0;
  }
  nav {
    &.navbar {
      min-height: auto;
      margin-bottom: 0;
    }
    .logo {
      float: left;
      img {
        @media #{$max991} {
          width: 100px;
          margin-top: 6px;
        }
        @media #{$max767} {
          margin-top: 13px;
        }
      }
    }
    .nav {
      float: right;
      padding-top: 5px;
      @media #{$max767} {
        width: 100%;
      }
      li {
        padding: 0;
        @media #{$max767} {
          float: none;
          text-align: center;
        }
        a {
          font-family: $raleway;
          font-size: 14px;
          color: $purple;
          padding: 9px 25px;
          @media #{$max1400} {
            padding: 7px 25px;
          }
          @media #{$max1199} {
            padding: 6px 12px;
          }
          &.btn {
            margin-left: 25px;
            @media #{$max1199} {
              margin-left: 15px;
            }
            @media #{$max767} {
              width: 100px;
              margin: 0 auto 15px;
            }
          }
        }
        &.sing-up {
          @media #{$max767} {
            margin-top: 20px;
          }
          @media #{$max480} {
            float: none;
            margin-bottom: 10px;
          }
          .btn {
            @include btn-bg-purple;
          }
        }
        &.sing-in {
          @media #{$max767} {
            margin-top: 20px;
          }
          @media #{$max480} {
            float: none;
            margin-bottom: 10px;
          }
          .btn {
            @include btn-border-purple;
          }
        }
        &.lang {
          margin-left: 25px;
          @media #{$max1199} {
            margin-left: 15px;
          }
          @media #{$max767} {
            width: 100px;
            margin-top: 20px;
            margin: auto;
          }
          @media #{$max480} {
            float: none;
            margin-bottom: 10px;
          }
          label {
            overflow: hidden;
            height: 40px;
            position: relative;
            display: block;
            border:2px solid #f0f1f4;
            @include btn-radius;
            @media #{$max1400} {
              height: 36px;
            }
            @media #{$max1199} {
              height: 34px;
            }
            .dropdown {
              padding: 9px 46px 9px 30px;
              border: 0;
              font-size: 14px;
              font-family: $raleway;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              background: $white;
              color: $purple;
              outline: none;
              @media #{$max1400} {
                padding: 7px 46px 9px 30px;
              }
              @media #{$max1199} {
                padding: 5px 30px 5px 18px;
              }
              &:after {
                outline: none;
              }
              &:active {
                outline: none;
              }
            }
            &:after {
              font-size: 20px;
              content:"\f107 ";
              font-family: FontAwesome;
              color: #000;
              position: absolute;
              right: 20px;
              top: 4px;
              z-index: 1;
              pointer-events: none;
              @media #{$max1199} {
                right: 8px;
                top: 2px;
              }
            }
          }
        }
      }
      span {
        @media #{$max767} {
          float: left;
          width: 100%;
          margin-top: 20px;
        }
        li {
          @media #{$max767} {
            display: flex;
          }
        }
      }
    }
    .navbar-toggle {
      border: 2px solid $purple;
      .icon-bar {
        background: $purple;
      }
    }
  }
}