@mixin btn-radius {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
@mixin btn-bg-purple {
  @include btn-radius;
  background: $purple;
  color: $white;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border: 1px solid $purple;
  &:hover {
    border: 1px solid $purple;
    background: transparent;
    color: $purple;
    text-decoration: none;
  }
  &:focus {
    border: 1px solid $purple;
    background: transparent;
    color: $purple;
    text-decoration: none;
  }
  &:active {
    border: 1px solid $purple;
    background: transparent;
    color: $purple;
    text-decoration: none;
  }
}

@mixin btn-border-purple {
  @include btn-radius;
  border: 1px solid $purple;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  &:hover {
    border: 1px solid $purple;
    background: $purple;
    color: $white;
    text-decoration: none;
  }
  &:focus {
    border: 1px solid $purple;
    background: $purple;
    color: $white;
    text-decoration: none;
  }
  &:active {
    border: 1px solid $purple;
    background: $purple;
    color: $white;
    text-decoration: none;
  }
}
@mixin btn-orange {
  background: $orange;
  @include btn-radius;
  border: 2px solid $orange;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: $white;
  &:hover {
    border: 2px solid $orange;
    background: $white;
    color: $orange;
    text-decoration: none;
  }
  &:focus {
    border: 2px solid $orange;
    background: $white;
    color: $orange;
    text-decoration: none;
  }
  &:active {
    border: 2px solid $orange;
    background: $white;
    color: $orange;
    text-decoration: none;
  }
}