$black: #000000;
$white: #ffffff;
$purple: #5f45a4;
$orange: #e46400;
$orange_light: #ffa047;
$red: #c30145;
$green: #009d84;
$gray: #f0f1f4;


$raleway:'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

$max1400: "only screen and (max-width : 1400px)";
$max1199: "only screen and (max-width : 1199px)";
$max991: "only screen and (max-width : 991px)";
$max767: "only screen and (max-width : 767px)";
$max480: "only screen and (max-width : 480px)";

